<template name="home">
  {{>dropdown}}
  <!--<div class="section">-->
  <div class="container-fuild">
    <div class="row">
      {{>cards}}
    </div>
  </div>
  <!--</div>-->
  {{>option1}}{{>option2}} {{>payment}}
</template>

<template name="cards">
  {{#each lists}}
  <div id="{{_id}}" class="col-xs-6 col-md-3 col-lg-2">
    <h2 class="text-center">{{number}}</h2>
    <div class="row">
      <div class="col-xs-6 text-right">เริ่ม
        <br>ค่าของกิน
        <br>ค่าสนาม
        <br>ค่าลูก
        <br>รวม
        <br>
      </div>
      <div class="col-xs-6">{{start}}
        <br>{{option1}}
        <div class="pull-right .product">
          <div data-target="#option1" data-toggle="modal">
            <a href="#">add</a>
          </div>
        </div>
        <br>{{option2}}
        <br>{{option3}}
        <div class="pull-right .ball">
          <div data-target="#option2" data-toggle="modal">
            <a href="#">add</a>
          </div>
        </div>
        <br>{{total}}
        <br>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#pay">ชำระเงิน</button>
    </div>
  </div>
  {{/each}}
</template>

<template name="dropdown">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Number <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                {{#each numbers}}
                <a id="{{_id}}" href="#">{{number}}</a> {{/each}}
              </li>
            </ul>
          </div>
          <button class="btn btn-sm btn-success">Start1</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="option1">
  <div class="fade modal text-center" id="option1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="btn-group btn-group-lg">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> สินค้า <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                {{#each options}}
                <a id="{{price}}" href="#">{{price}}</a> {{/each}}
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" data-dismiss="modal">ตกลง</a>
          <a class="btn btn-danger" data-dismiss="modal">ปิด</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="option2">
  <div class="fade modal text-center" id="option2">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="btn-group btn-group-lg">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> ลูกแบด <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                {{#each options}}
                <a id="{{price}}" href="#">{{price}}</a> {{/each}}
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" data-dismiss="modal">ตกลง</a>
          <a class="btn btn-danger" data-dismiss="modal">ปิด</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="payment">
  <div class="fade modal text-center" id="pay">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">ชำระเงิน</h4>
        </div>
        <div class="modal-body">
          <p>หมายเลข
            <br>1
            <br>
            <br>จำนวนเงินที่ต้องชำระ
            <br>120</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" data-dismiss="modal">Accept</a>
          <a class="btn btn-danger" data-dismiss="modal">ปิด</a>
        </div>
      </div>
    </div>
  </div>
</template>